
html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#home {
	font-family: Roboto, Arial, sans-serif; -webkit-user-select: none;
	font-weight: bold;
	padding: 1px 6px;
	font-size: 11px;
	margin-top: 5px;
}

#options {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}
#options label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	position: relative;
	top: -2px;
}
#options input {
	position: relative;
	top: 1px;
}

.btn {
	text-align: center;
	color: rgb(0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.14902);
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	cursor: pointer;
}
.btn:hover {
	color: rgb(86, 86, 86);
	background-color: rgb(235, 235, 235);
}

#list {
	position: absolute;
	max-height: 90%;
	right: 10px;
	bottom: 20px;
	width: 200px;
	z-index: 5;
	border: 1px solid #999;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}

#list h2 {
	margin: 0 0 5px 0;
}

#lists {
	list-style: none;
	margin: 0;
	padding: 0;
}

#lists h4 {
	margin: 0 0 5px 0;
}

#lists ul {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

#lists ul li {
	clear: both;
	margin-bottom: 5px;
	height: 20px;
}

#lists ul li small {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

#list .btn {
	float: right;
	padding: 0;
	height: 20px;
	width: 20px;
	margin-left: 5px;
}

.btn.rem-btn {
	background-color: #FFADAD;
	border-color: #FF0000;
}
.btn.add-btn {
	background-color: #ADFFAD;
	border-color: #00FF00;
}
