<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Location Compare</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css.css">

		<script type="text/ng-template" id="/view.html">
			<ul class="lists">
				<li ng-repeat=" list in lists | orderBy:'name' ">
					<button class="btn" ng-show="list.open" ng-click="list.open=false" title="Close">&#9650;</button>
					<button class="btn" ng-hide="list.open" ng-click="list.open=true" title="Open">&#9660;</button>
					<button ng-click="add(list)" class="add-btn btn" ng-show="map_obj" title="Add place to my list">&plus;</button>
					<h4>
						<input type="checkbox" ng-model="list.show" ng-change="update()">
						<span>{{list.name}}</span>
						<small>{{list.list.length}}</small>
					</h4>
					<ul ng-show="list.open" ng-class="{disabled:!list.show}">
						<li ng-repeat=" item in list.list | orderBy:'name' ">
							<button ng-click="rem(list, item)" class="rem-btn btn" title="Remove place from my list">&times;</button>
							<input type="checkbox" ng-model="item.show" ng-change="update()">
							<small title="{{item.name}}">{{item.name}}</small>
						</li>
					</ul>
				</li>
			</ul>
			<div>
				<a href="https://github.com/bign8/geo-compare" target="_blank" style="float:right"><small>code</small></a>
				<a href="#/edit"><small>edit</small></a>
			</div>
		</script>

		<script type="text/ng-template" id="/edit.html">
			<ul class="lists">
				<li ng-repeat=" list in lists | orderBy:'name' ">
					<button ng-click="rem(list)" class="rem-btn btn" title="Remove category">&times;</button>
					<input type="text" ng-model="list.name">
				</li>
				<li>
					<form>
						<button ng-click="add()" class="add-btn btn" title="Add category">&plus;</button>
						<input type="text" ng-model="new_cat.name" placeholder="New Category">
					</form>
				</li>
			</ul>
			<a href="#/" ng-show="lists.length"><small>view</small></a>
		</script>
	</head>
	<body>
		<div style="display:none"><!-- Hide on pre-loading -->
			<input id="pac-input" class="controls" type="text" placeholder="Search">
			<div id="options" class="controls">
				<input type="checkbox" id="zoom-to">
				<label for="zoom-to">zoom</label>
			</div>
			<button id="home" class="btn">USA</button>
		</div>

		<div id="map-canvas" class="full-map"></div>

		<div id="panel" ng-view></div>

		<!-- Scripts down here -->
		<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-route.min.js"></script>
		<script src="js.js"></script>
	</body>
</html>
