<!DOCTYPE html>
<html>
	<head>
		<title>Location Compare</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css.css">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.14/angular.min.js"></script>
		<script src="js.js"></script>
	</head>
	<body>
		<input id="pac-input" class="controls" type="text" placeholder="Search">
		<div id="options" class="controls">
			<input type="checkbox" id="zoom-to">
			<label for="zoom-to">zoom</label>
		</div>
		<button id="home" class="btn">USA</button>

		<div id="map-canvas"></div>

		<div id="list" ng-controller="compare" ng-app="compare">
			<ul id="lists">
				<li ng-repeat="list in lists">
					<button class="view-btn btn" title="View Mapped Items" ng-click="view_self(list)">&bullet;</button>
					<button ng-click="add(list)" class="add-btn btn" ng-show="map_obj" title="Add place to my list">&plus;</button>
					<h4>{{list.name}}</h4>
					<ul>
						<li ng-repeat="item in list.list">
							<button ng-click="rem(list, item)" class="rem-btn btn" title="Remove place from my list">&times;</button>
							<small>{{item.name}}</small>
						</li>
					</ul>
				</li>
				<li>
					<button class="view-btn btn" title="View Mapped Items" ng-click="view()">&bullet;</button>
					<h4>Both</h4>
				</li>
			</ul>
		</div>

	</body>
</html>
